<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <queries>
        <package android:name="com.sankuai.meituan"/>
        <intent><action android:name="android.speech.RecognitionService"/></intent>
    </queries>

    <application android:allowBackup="false" android:label="沿途" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:usesCleartextTraffic="false" android:icon="@drawable/ic_spotstory">
        <activity android:name="com.spotstory.guide.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="com.spotstory.guide.GuideService" android:exported="false" android:foregroundServiceType="location"/>
    </application>
</manifest>
